{% block content %}

{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/notestep.css' %}">
</head>
<body>
<h2>Step 0:If your using for first time generate pin and then follow below steps</h2>
<h2>Step 1:Select language</h2>
<h2>Step 2:Select Type of account</h2>
<h2>Step 3:Enter the cardnumber</h2>
<h2>Step 4:Enter the pin</h2>
<h2>Step 5(a):Click amount withdrawl link for withdrawl of amount</h2>
<h2>Step 5(b):Click amount deposit link for deposit of amount</h2>
<h2>Step 5(c):Click amount enquiry link for enquiry of amount</h2>

</body>
</html>
{% endblock %}
