<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>withdraw</title>
</head>

<body>
    <h3>withdrawl</h3>
    Cardnum: {{carddet.cardnum}}<br />
    Current balance: {{carddet.balance}}
    
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>